node_modules/
dist/
.expo/
.vscode/
.DS_Store
*.log

backend/node_modules/
mesonero-web/node_modules/
mobile/resto-mobile/node_modules/

mesonero-web/dist/

mobile/resto-mobile/.expo/
mobile/resto-mobile/.env
mobile/resto-mobile/.env.*
!mobile/resto-mobile/.env.example

mesonero-web/.env
mesonero-web/.env.*
!mesonero-web/.env.example